{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cameroon Logos</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <!-- File links -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>

<body>
    <!-- Top light -->
    <div class="top-light"></div>

    <!-- Header -->
    <header>
        <nav class="navbar">
            <div class="title">
                <h1>
                    <a href="#" class="logo">Welcome to<br>Cameroon Logos</a>
                </h1>
                <p>
                    An open source collection of {logos_count} logos from 237
                </p>
            </div>

            <div class="nav-actions">
                <div class="search-bar">
                    <input type="search" name="search" id="search" placeholder="Start searching for logo...">
                    <input type="submit" value="search" name="submit">
                </div>

                <div class="cta">
                    <a href="#" class="btn">Add a logo <i data-lucide="package-plus"></i>
                    </a>
                </div>
            </div>
        </nav>

        <div class="tags">
            <a href="" class="tag-item">fintech</a>
            <a href="" class="tag-item">healthtech</a>
            <a href="" class="tag-item">edutech</a>
            <a href="" class="tag-item">agritech</a>
            <a href="" class="tag-item">community</a>
        </div>
    </header>

    {% block body %}
    {% endblock body %}

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <hr>
            <div class="credentials">
                <small>
                    &copy; 2023 Cameroon Logos &mdash; designed and dev-ed by <a href="">@joelfah</a>.
                </small>
                <div class="social-links">
                    <a href="https://x.com/FahDejon" class="link">x.com</a>
                    <a href="https://linkedin.com/in/joelfah" class="link">in/joelfah</a>
                    <a href="https://figma.com/@joelfah" class="link">figma</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>