{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cameroon Logos</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

    <!-- File links -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css %}

    {% endblock css %}


</head>

<body>
    <!-- Top light -->
    <div class="top-light"></div>

    <!-- Header -->
    {% block header %}
    {% endblock header %}

    <!-- Body -->
    {% block body %}
    {% endblock body %}

    <!-- Footer -->
    {% block footer %}
    {% endblock footer %}
</body>

</html>