<footer>
    <div class="footer-content">
        <hr>
        <div class="credentials">
            <small>
                &copy; 2023 Cameroon Logos &mdash; designed and dev-ed by <a href="">@joelfah</a>.
            </small>
            <div class="social-links">
                <a href="https://x.com/FahDejon" class="link">x.com</a>
                <a href="https://linkedin.com/in/joelfah" class="link">in/joelfah</a>
                <a href="https://figma.com/@joelfah" class="link">figma</a>
            </div>
        </div>
    </div>
</footer>