{% extends "base.html" %}
{% load static %}

<!-- Header -->
{% block header %}
  {% include "header.html" %}
{% endblock header %}

<!-- This is the body of the home page -->
{% block body %}
  <main>
    <div class="container">
        <div class="row">
          <div class="logo-container">
            <div class="logo-header">
              <div class="logo-title">
                <span class="logo-title__name">Django Cameroon {{ i }}</span>
                <small class="logo-title__url">
                  <a href="#">this community website .com</a>
                </small>
              </div>

              <div class="logo-info">
                <div class="logo-info__variations">
                  <i data-lucide="layout-template"></i>
                  <small>##</small>
                </div>

                <div class="logo-info__clicks">
                  <i data-lucide="mouse-pointer-click"></i>
                  <small>##</small>
                </div>

                <a href="" class="btn">
                  <i data-lucide="eye"></i>
                  <small>view</small>
                </a>
              </div>
            </div>
            
            <div class="logo-image">
              <div class="logo-tags">
                <a href="" class="tag-item">tech</a>
                <a href="" class="tag-item">community</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>

  <!-- Include Lucide icons -->
  <script src="https://unpkg.com/lucide@latest"></script>
  <script>
    lucide.createIcons();
  </script>
{% endblock body %}

<!-- Footer -->
{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}