/* Imports: Fonts */

@font-face {
    font-family: Afolkalips;
    src: url('../fonts/Afolkalips\ Swash.ttf');
}

@font-face {
    font-family: Jelani;
    src: url(../fonts/jelani.otf);
}

@font-face {
    font-family: Satoshi;
    src: url('../fonts/Satoshi-Variable.ttf');
}

/* Global variables */

:root {
    /* Colors */
    --light-blue: #206EF3;
    --dark-blue: #151425;
    --grey-blue: #727C85;
    --light: #F5F5F5;
    --pure-white: #fff;
    --dark: #121212;
    --gradient: linear-gradient(94deg, #206EF3 0%, #161070 100%);

    /* Shadow */
    --shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.50);

    /* Transition */
    --transition: all 0.3s ease-in-out;

    /* Fonts */
    --body: Satoshi, sans-serif;
    --logo: Jelani;
    --bg: Afolkalips;
}

/* Generic */

* {
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body);
    color: var(--dark);
    font-size: 16px;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 90px;
    background: var(--gradient, linear-gradient(94deg, #206EF3 0%, #161070 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: non;
}

input {
    border: none;
    transition: var(--transition);
}

input::placeholder {
    color: var(--grey-blue, #727C85);
    font-weight: 500;
    opacity: 0.5;
}

input:focus,
input:active {
    border: 1px solid var(--gradient, #206EF3);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
/* Header */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
}

.navbar a.logo {
    color: var(--light-blue, #206EF3);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--logo);
    text-decoration: none;
}

.navbar .nav-actions .search-bar {}

.navbar .nav-actions .search-bar input {
    border-radius: 50px;
    background: rgba(32, 110, 243, 0.10);
    padding: 15px 20px 15px;
}
/* Home page */
.container {
    max-width: 1500px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
