/* Imports: Fonts */

@font-face {
    font-family: Coolvetica;
    src: url('../fonts/coolvetica\ rg.otf');
}

@font-face {
    font-family: Satoshi;
    src: url('../fonts/Satoshi-Variable.ttf');
}

/* Global variables */

:root {
    /* Colors */
    --light-blue: #206EF3;
    --dark-blue: #151425;
    --grey-blue: #727C85;
    --light: #F5F5F5;
    --pure-white: #fff;
    --dark: #121212;
    --gradient: linear-gradient(94deg, #206EF3 0%, #161070 100%);

    /* Shadow */
    --shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);

    /* Transition */
    --transition: all 0.3s ease-in-out;

    /* Fonts */
    --body: Satoshi, sans-serif;
    --title: Coolvetica;
}

/* Generic */

* {
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body);
    color: var(--dark);
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title) !important;
    background: var(--gradient, linear-gradient(94deg, #206EF3 0%, #161070 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    /* line-height: 50px; */
}

a {
    text-decoration: none;
}

a.btn {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--gradient, linear-gradient(94deg, #206EF3 0%, #161070 100%));
    color: var(--pure-white, #fff);
    font-weight: 500;
    line-height: 30px;
    transition: var(--transition);
    outline: 1px solid transparent;
}

a.btn:hover,
a.btn:active {
    box-shadow: var(--shadow);
    outline: 1.5px solid var(--light-blue);
    cursor: pointer;
}

button.btn-outline {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid var(--gradient, #206EF3);
    background: rgba(32, 110, 243, 0.10);
    transition: var(--transition);
    outline: 1.5px solid transparent;
}

button.btn-outline:hover,
button.btn-outline:active {
    box-shadow: var(--shadow);
    outline: 1.5px solid var(--light-blue);
    cursor: pointer;
}

input,
textarea {
    border: 1.5px solid transparent;
    outline: 1.5px solid transparent;
    transition: var(--transition);
    font-family: var(--body);
    font-weight: 500;
}

input::placeholder,
textarea::placeholder {
    color: var(--grey-blue, #727C85);
    font-weight: 500;
    opacity: 0.5;
}

input:hover,
textarea:hover {
    box-shadow: var(--shadow);
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    border: 1.5px solid var(--light-blue);
    outline: 1.5px solid var(--light-blue);
    box-shadow: var(--shadow);
}

textarea {
    resize: vertical;
}

/* Top light */
.top-light {
    position: absolute;
    top: -15%;
    border-radius: 1919px;
    opacity: 0.5;
    background: var(--gradient, linear-gradient(94deg, #206EF3 0%, #161070 100%));
    filter: blur(50px);
    width: 100vh;
    width: 1919px;
    height: 94px;
    z-index: 2;
}

/* Header */

header {
    margin-top: 35px;
    /* position: fixed;
    width: 100%;
    background-color: #ffffff50;
    backdrop-filter: blur(20px);
    z-index: 999; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
}

.navbar .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
}

.title p {
    margin: 0;
}

.navbar a.logo {
    color: var(--light-blue, #206EF3);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    font-family: var(--title);
    text-decoration: none;
}

.navbar .nav-actions {
    display: flex;
    gap: 10px;
}

.navbar .nav-actions .search-bar {
    position: relative;
}

.navbar .nav-actions .search-bar input {
    border-radius: 50px;
    background: rgba(32, 110, 243, 0.10);
    padding: 15px 20px 15px;
    padding-right: 100px;
}

.navbar .nav-actions .search-bar input[type='search'] {
    min-width: 400px;
}

.navbar .nav-actions .search-bar input[type='submit'] {
    background: var(--gradient);
    color: var(--pure-white);
    font-weight: 600;
    padding: 10px 20px 10px;
    position: absolute;
    top: 10%;
    right: 2%;
}

.tags {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.tags .tag-item,
.logo-container .logo-image .logo-tags .tag-item {
    padding: 5px 15px;
    border-radius: 20px;
    background: var(--light, #F5F5F5);
    transition: var(--transition);
    border: 1px solid transparent;
}

.tags .tag-item:hover,
.logo-container .logo-image .logo-tags .tag-item:hover {
    color: var(--light-blue);
    background: rgba(32, 110, 243, 0.10);
    cursor: pointer;
    border: 1px solid transparent;
}

.tags .tag-item:active,
.logo-container .logo-image .logo-tags .tag-item:active {
    border-radius: 50px;
    border: 1px solid var(--light-blue, #206EF3);
    background: var(--light, #F5F5F5);
    font-weight: bold;
}

/* Home page */
.container {
    /* max-width: 1500px; */
    padding-top: 30px;
}

.row {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1500px;
    margin: auto;
}

.logo-container {
    grid-column: span 4;
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
    background: var(--light, #F5F5F5);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logo-container .logo-header {
    display: flex;
    /* max-width: 470px; */
    justify-content: space-between;
    align-items: center;
}

.logo-container .logo-header .logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo-container .logo-header .logo-title .logo-title__name {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.logo-container .logo-header small {
    color: var(--light-blue, #206EF3);
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: block;
}

.logo-container .logo-header .logo-info {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.logo-container .logo-header .logo-info div svg > * {
    color: var(--light-blue, #206EF3) !important;
}

.logo-container .logo-header .logo-info div {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    background: rgba(32, 110, 243, 0.10);
}

.logo-container .logo-header .logo-info a.btn {
    font-weight: 500;
    padding: 5px 10px;
    color: var(--pure-white, #fff);
}

.logo-container .logo-header .logo-info a.btn small {
    color: var(--pure-white, #fff);
    font-weight: 500;
}

.logo-container .logo-image {
    /* background-color: var(--grey-blue, #727C8510); */
    background: #727C8520;
    width: inherit;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.20);
    position: relative;
}

.logo-container .logo-image .logo-tags {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    gap: 5px;
}

/* Footer */
footer .footer-content {
    max-width: 1500px;
    margin: auto;
    margin-top: 30px;
    /* padding: 10px 0; */
}

footer hr {
    background-color: var(--grey-blue, #727C85);
    opacity: 0.5;
}

footer .credentials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .credentials a {
    font-family: var(--title);
    font-weight: 500;
}

footer .credentials .social-links {
    display: flex;
    gap: 20px;
}